<div class="mx-auto w-full relative">
  <section class="pt-32 md:pt-16 px-4 bg-slate-100 z-10">
    <div class="grid grid-cols-1 md:grid-cols-3 md:pt-32 pb-20 max-w-5xl mx-auto relative">
      <div class="">
        <img src="assets/nerenso-art-3.png" alt="" class="mx-auto w-72 lg:absolute left-0 lg:w-[400px]" />
      </div>
      <div class="pt-6 lg:pl-32 md:pl-12 lg:py-24 col-span-2 text-center md:text-left max-w-md md:max-w-full mx-auto md:mx-0">
        <h3 class="text-lg">Hi There <span class="text-2xl">👋🏻</span></h3>
        <h2 class="font-bold text-2xl md:text-3xl">I'm Nerenso.</h2>
        <p class="my-4 leading-7">
          A designer turned developer who is passionate about creating beautiful and functional web applications that solve real-world problems.
        </p>

        <div class="flex items-center justify-center gap-2 my-6 justify-c md:justify-normal">
          {{partial:mailto-link}}
          <div
            class="flex w-fit md:mx-auto items-center gap-1 px-5 py-3 shadow-md rounded-md transition-all duration-200 bg-orange-500 text-white font-medium text-sm hover:shadow-none"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z"
              />
            </svg>

            <span>Get in Touch</span>
          </div>

          {{/partial:mailto-link}}
        </div>
      </div>
    </div>
  </section>

  <div class="custom-shape-divider-top-1698835768 fill-slate-100 bg-white -mt-14 z-0 border-none">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>

  <section class="py-6 md:py-16 px-6 w-full bg-white">
    <div class="max-w-5xl mx-auto">
      <div class="grid grid-cols-12">
        <div class="space-y-4 leading-7 md:col-span-6 col-span-12 text-slate-700 font-light">
          <h2 class="font-bold md:text-3xl text-2xl text-slate-800">About Me</h2>
          <p>
            I have a background in design and I have been working as a freelancer for about 12 years now. After dabbling around in various frameworks
            and technology stacks such as <a href="">Nuxt</a>, <a href="">React</a>, <a href="">NextJS</a>, Remix and Django, I developed a fondness
            for Laravel and VueJS. Which is my go-to stack for developing web applications.
          </p>

          <p>I have experience in building dynamic and responsive web applications using PHP, HTML, CSS, JavaScript, and other technologies.</p>

          <p>
            I love learning new skills and exploring new challenges in web development. You can check out some of my projects below and contact me if
            you are interested in working with me.
          </p>
        </div>
        <div class="col-span-12 mt-6 md:col-span-6 md:px-10 flex items-center justify-center">
          <img src="/assets/coding-art.svg" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="py-24 px-6 w-full bg-white">
    <div class="max-w-5xl w-full mx-auto space-y-4">
      <h2 class="font-bold md:text-3xl text-2xl text-slate-800 mb-8">My Toolset</h2>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
        {{collection:technologies sort="date:asc"}}
        <a href="{{link}}" class="flex items-center justify-start bg-slate-50 p-3 group rounded-lg gap-2">
          <div class="p-2 flex items-center justify-center h-10 w-10 relative overflow-hidden rounded-xl shadow-md">
            <img class="object-contain filter group-hover:filter-none transition-all duration-200" src="{{image}}" alt="" />
            <img class="object-contain absolute opacity-90 brightness-125 top-0 w-12 h-12 blur-lg filter" src="{{image}}" alt="" />
          </div>
          <p class="text-center text-sm">{{title}}</p>
        </a>
        {{/collection:technologies}}
      </div>
    </div>
  </section>

  <section class="w-full relative bg-white pt-12 pb-28 px-6">
    <div id="projects" class="projects-anchor absolute -top-32"></div>
    <div x-data="{activeTab: 'Development'}" class="max-w-5xl mx-auto space-y-6">
      <header class="flex items-center justify-between mb-10">
        <h2 class="text-2xl md:text-3xl font-bold">Projects</h2>
        <ul class="flex items-center gap-4 text-sm">
          <li @click="activeTab = 'Development'" class="flex items-center gap-1 cursor-pointer">
            <div :class="activeTab === 'Development' ? 'bg-orange-500' : 'bg-slate-300'" class="w-1.5 h-1.5 rounded-full"></div>
            <span :class="activeTab === 'Development' ? '' : 'text-slate-500'" class="font-medium">Development</span>
          </li>
          <li @click="activeTab = 'Design'" class="flex items-center gap-1 cursor-pointer">
            <div :class="activeTab === 'Design' ? 'bg-orange-500' : 'bg-slate-300'" class="w-1.5 h-1.5 rounded-full"></div>
            <span :class="activeTab === 'Design' ? '' : 'text-slate-500'" class="font-medium">Design</span>
          </li>
        </ul>
      </header>

      <div x-show="activeTab === 'Development'" x-transition:enter.duration.500ms class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-6">
        {{collection:projects taxonomy:type="development"}}

        <article
          class="z-0 group flex flex-col bg-white border rounded-2xl shadow-sm hover:shadow-lg transition-all duration-200 overflow-hidden relative"
        >
          <img src="{{featured_image}}" alt="" class="group-hover:scale-110 transition-all duration-200 h-[200px] md:h-[300px] object-cover" />

          <div class="p-6 z-10 bg-white flex h-full flex-1 flex-col">
            <div class="block md:flex justify-between items-center mb-2">
              <h3 class="text-xl font-semibold">{{title}}</h3>
              {{if work_in_progress}}
              <div class="flex items-center justify-start md:justify-center gap-1 relative">
                <div class="w-[7px] h-[7px] rounded-full bg-emerald-500/75 animate-ping absolute left-0"></div>
                <div class="w-[7px] h-[7px] rounded-full bg-emerald-500"></div>
                <p class="text-xs font-medium text-slate-500">Work in Progress</p>
              </div>
              {{/if}}
            </div>

            <ul class="flex items-center flex-wrap gap-2 mt-2 mb-4">
              {{tags}}
              <li class="text-[10px] px-2 py-1 bg-orange-100 font-medium text-orange-600 rounded-full">{{value}}</li>
              {{/tags}}
            </ul>
            <div class="text-slate-600 leading-7 h-full flex-1">{{summary}}</div>

            <div class="flex items-center gap-2 mt-4 mb-4 lg:mb-0 w-full">
              <a
                href="{{url}}"
                class="text-orange-500 border hidden lg:block text-center font-medium text-sm px-4 py-2 border-orange-300 shadow-sm borde rounded-md w-full"
                >Read More</a
              >
              {{if github_link}}
              <a href="{{github_link}}" target="_blank" class="flex w-full lg:w-fit items-center justify-center gap-1 px-4 py-2 border rounded-md">
                <iconify-icon icon="bi:github" class="text-lg"></iconify-icon>
                <span class="text-sm font-medium">Code</span>
              </a>
              {{/if}} {{if demo_site}}
              <a href="{{demo_site}}" target="_blank" class="flex w-full lg:w-fit justify-center items-center gap-1 px-4 py-2 border rounded-md">
                <iconify-icon icon="heroicons:window-solid" class="text-lg"></iconify-icon>
                <span class="text-sm font-medium">Demo</span>
              </a>
              {{/if}}
            </div>

            <a
              href="{{url}}"
              class="text-orange-500 lg:hidden text-center font-medium text-sm px-4 py-2 border-orange-300 shadow-sm border rounded-md w-full"
              >Read More</a
            >
          </div>
        </article>
        {{/collection:projects}}
      </div>

      <div x-show="activeTab === 'Design'" x-transition:enter.duration.500ms class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-6">
        {{collection:projects taxonomy:type="design"}}
        <article class="z-0 group flex flex-col bg-white border rounded-2xl shadow-sm hover:shadow-lg transition-all duration-200 overflow-hidden">
          <img src="{{featured_image}}" alt="" class="group-hover:scale-110 transition-all duration-200 h-[200px] md:h-[300px] object-cover" />
          <div class="p-6 z-10 bg-white flex h-full flex-1 flex-col">
            <h3 class="text-xl font-semibold">{{title}}</h3>
            <ul class="flex items-center flex-wrap gap-2 mt-2 mb-4">
              {{tags}}
              <li class="text-[10px] px-2 py-1 bg-orange-100 font-medium text-orange-600 rounded-full">{{value}}</li>
              {{/tags}}
            </ul>
            <div class="text-slate-600 leading-7 h-full flex-1">{{summary}}</div>
            <a
              href="{{url}}"
              class="text-orange-500 mt-4 text-center font-medium text-sm px-4 py-2 border-orange-300 shadow-sm border rounded-md w-full"
              >Read More</a
            >
          </div>
        </article>
        {{/collection:projects}}
      </div>
    </div>
  </section>
</div>
