<section class="w-full bg-slate-700 p-6">
  <div class="w-full max-w-4xl mx-auto py-16 space-y-4">
    <h2 class="text-2xl md:text-4xl font-medium md:text-center text-white">Let's Work Together!</h2>
    <p class="md:text-center text-white max-w-3xl mx-auto leading-7 font-light">
      If you’d like to talk about a project you want help with or need any advice about product design, just drop me a message. I’m currently
      available for both design and development work.
    </p>
    <a
      href="mailto:nerenso@hotmail.com?cc=&bcc=&subject=About%20Rebelfox&body="
      class="flex w-fit md:mx-auto items-center gap-1 px-5 py-3 shadow-md rounded-md transition-all duration-200 bg-orange-500 text-white font-medium text-sm hover:shadow-none"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z"
        />
      </svg>

      <span>Get in Touch</span>
    </a>
  </div>
  <div>
    <p class="text-xs text-white md:text-center">©Designed and Build with ♥️ by Nerenso</p>
  </div>
</section>
